/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

/* ROOT */
:root {
    --body-background-color: #0a192f;
    --neon-light: #64ffda;
    --box-shadow: #020c1bb3;
    --dark-white: #c7c7c7;
    --bright-white: #CCD6F6;
    --border-white: 1px solid white;
    --border-red: red;
    --border-green: green;
}
h1 {
    font-size: 4vw;
    font-weight: 750;
}
h3 {
    font-size: 3.6vw;
    font-weight: 750;
}
h4 {
    font-size: 1.3vw;
    font-weight: 750;
}
.medium-p {
    font-size: 1.1vw;
}

body {
    background-color: var(--body-background-color);
    min-height: 100vh;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background: var(--neon-light);
    border-radius: 1rem;
}


/* WRAPPER */
.wrapper {
    border: var(--border-white);
}

/* SECTION CLASS CONTENT */
.content {
    border: 1px solid var(--border-red);
    width: 70%;
    margin: 0 auto;
}
.sec-height {
    margin: 0 1rem;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* HEADER */
nav {
    /* border: 1px solid white; */
    position: fixed;
    top: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
    z-index: 10;
    transition: 0.5s;
    box-shadow: 0 10px 30px -10px var(--box-shadow);
}
.logo {
    width: 2.9rem;
    cursor: pointer;
    margin: 0.3rem 0 0 3.5rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    /* animation-delay: 1.5s; */
}
nav ul {
    /* border: 1px solid red; */
    flex: 1;
    text-align: right;
    padding-right: 4rem;
}
nav ul li {
    /* border: 1px solid white; */
    display: inline-block;
    list-style: none;
    margin: 0.6rem 1rem;
}
nav ul li a {
    display: inline-block;
    color: var(--bright-white);
    text-decoration: none;
    position: relative;
    font-weight: 750;
    opacity: 0;
    animation: slideBottom .5s ease forwards; /* animation*/
    /* animation-delay: calc(1.7s + (.2s * var(--i))); */
}
nav ul li a::after {
    content: '';
    background: var(--neon-light);
    position: absolute;
    width: 0;
    height: 0.1rem;
    bottom: -0.4rem;
    left: 50%;
    transform: translateX(-0.6rem);
    transition: width 0.3s;
}
nav ul li a:hover {
    color: var(--neon-light);
}
nav ul li a:hover::after {
    width: 50%;
}
nav ul span a {
    display: inline-block;
    border: 1px solid var(--neon-light);
    border-radius: 10%;
    color: var(--neon-light);
    font-weight: 750;
    text-decoration: none;
    padding: 0.5rem;
    opacity: 0;
    animation: slideBottom .5s ease forwards; /* animation*/
    /* animation-delay: calc(1.7s + (.2s * var(--i))); */
}
nav ul span a:hover {
    background: var(--neon-light);
    color: var(--body-background-color);
}
#check {
    display: none;
}
#navbar i {
    display: none;
}

/* LEFT SOCIAL ICONS */
.left-social-icons ul {
    /* border: 1px solid white; */
    position: fixed;
    left: 6%;
    bottom: 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    text-align: center;
    opacity: 0;
    animation: slideTop 1s ease forwards; /* keyframe animation*/
    /* animation-delay: 4.5s; */
}
.left-social-icons ul li {
    /* border: 1px solid red; */
    list-style: none;
    margin: 1.5rem 0 1rem;
}
.left-social-icons ul i {
    color: var(--dark-white);
    font-size: 1.2rem;
}
.left-social-icons ul i:hover {
    color: var(--neon-light);
}
.ver-line {
    border-left: 1px solid var(--neon-light);
    height: 4rem;
    margin-left:0.6rem;
}

/* HOME */
.home {
    border: 1px solid var(--border-green);
}
.home-content {
    border: var(--border-white);
    width: 100%;
    color: var(--dark-white);
}
.home-content h1 {
    color: var(--bright-white);
    opacity: 0;
    animation: slideRight 1s ease forwards; /* keyframe animation*/
    /* animation-delay: 3.5s; */
}
.home-content h3 {
    color: var(--bright-white);
    opacity: 0;
    animation: slideTop 1s ease forwards; /* keyframe animation*/
    /* animation-delay: 3.5s; */
}
.home-content h3 span {
    color: var(--neon-light);
    opacity: 0;
    animation: slideTop 1s ease forwards; /* keyframe animation*/
    /* animation-delay: 3.5s; */
}
.home-content h4 {
    color: var(--neon-light);
    opacity: 0;
    animation: slideBottom 1s ease forwards; /* keyframe animation*/
    /* animation-delay: 3.5s; */
}
.home-content p {
    opacity: 0;
    animation: slideRight 1s ease forwards; /* keyframe animation*/
    /* animation-delay: 3.5s; */
}
.home-content button {
    background: var(--body-background-color);
    border: 1px solid var(--neon-light);
    border-radius: 10px;
    color: var(--neon-light);
    margin-top: 5rem;
    font-size: 1.2vw;
    font-weight: 550;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards; /* keyframe animation*/
    /* animation-delay: 3.5s; */
}
.home-content button:hover {
    border: 1px solid var(--bright-white);
    background: var(--bright-white);
    color: var(--body-background-color);
}

/* ABOUT */
.about {
    border: 1px solid var(--border-green);
}
.about-content {
    border: var(--border-white);
    color: var(--dark-white);
}
.about-content h2 {
    color: var(--bright-white);
}
.hor-line {
    border-top: 1px solid var(--bright-white);
    width: 30vw;
    position: absolute;
    margin: -0.8rem 0 0 6rem;
}
.medium-p {
    margin-top: 2rem;

}
img {
    width: 80%;
    border-radius: 50%;
}


/* KEYFRAMES */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    /* HOME */
    .home-content button {
        padding: 0.8rem;
    }
}

@media screen and (max-width: 1080px) {
    /* HOME */
    .home-content button {
        padding: 0.6rem;
    }
}

@media screen and (max-width: 768px) {
    #navbar {
        justify-content: space-between;
    }
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        min-height: 150vh;
        text-align: center;
        padding: 0;
        background-color: var(--body-background-color);
        box-shadow: 0 10px 30px 30px var(--box-shadow);
        transition: all .5s;
    }
    nav ul.show {
        right: 0;
    }
    nav ul li {
        display: block;
        margin: 4rem auto;
        padding: 1rem;
    }
    nav ul span a{
        font-size: 1.1rem;
        font-weight: 400;
        padding: 0.5rem 2rem;
        border-radius: 20px;
    }
    .logo {
        margin-left: 2rem;
        width: 3rem;
    }
    #navbar i {
        display: block;
        font-size: 4.5vw;
        color: var(--neon-light);
        margin-right: 2rem;
        cursor: pointer;
    }
    .fa-bars-staggered {
        opacity: 0;
        animation: slideLeft 1s ease forwards; /* animation*/
        /* animation-delay: 1.5s; */
    }
    .left-social-icons ul {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #navbar i {
        font-size: 2rem;
    }
    nav ul {
        width: 60%;
    }
    nav ul span a {
        font-size: 1.2rem;
        font-weight: 400;
        padding: 0.5rem 1.8rem;
        border-radius: 20px;
    }
}

@media screen and (max-width: 400px) {
    #navbar i {
        font-size: 1.8rem;
    }
    nav ul {
        width: 70%;
    }
}